extends ../layout

block content
  each location in locations
    .map
      h3 #{location.name} — #{location.schedule}
      iframe(
        src="http://www.map-generator.org/#{location.map_id}/iframe-map.aspx",
        scrolling="no",
        height="320px",
        width="640px",
        frameborder="0",
        marginheight="0",
        marginwidth="0")